<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}MultiProxy</title>
    <link rel="stylesheet" href="{{ '/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="favicon.ico">
    <script type="module">
        import { initializeUIColor } from "{{ '/shared.js?v=' | append: site.github.build_revision | relative_url }}";
        initializeUIColor();
    </script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="title-section">
                    <h1>{% if page.title %}{{ page.title }}{% else %}MultiProxy{% endif %}</h1>
                    {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
                </div>
                <button id="settingsButton" style="color:black;" class="settings-button" onclick="window.location.href='settings.html'" aria-label="Settings">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                    </svg>
                </button>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <h5>Check out my <a href="https://github.com/DataDecay">Github</a>, or my <a href="https://github.com/DataDecay-Projects">Projects Github</a>.<br>
            Made for <a href="https://sites.google.com/students.wcpss.net/the-bubble-is-goated/">The Bubble</a><br>
            Hosted with Github Pages because I dont wanna use my own server due to performance issues.</h5>
        </footer>
    </div>
</body>
</html>
